<div class="col-md-2 col-lg-2 bg-light border-end vh-100 p-0">

    <div class="list-group list-group-flush">

        <a href="#" class="list-group-item list-group-item-action active">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-book"></i>
            Meus Cursos
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-people"></i>
            Alunos
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-journal-text"></i>
            Lições
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-pencil-square"></i>
            Exercícios
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-file-earmark-text"></i>
            Respostas
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-person-circle"></i>
            Perfil
        </a>

    </div>

</div>

