<div class="col-md-3 col-lg-2 bg-dark text-white sidebar">

    <div class="p-4">

        <h4 class="fw-bold mb-5">
            Painel
        </h4>

        <nav class="nav flex-column">

            <!-- Dashboard -->
            <a href="{% url 'teacher_dashboard' %}" class="nav-link active">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
            </a>

            <!-- Cursos -->
            <a href=" {% url 'my_courses_teacher' %}" class="nav-link">
                <i class="bi bi-book me-2"></i>
                Meus Cursos
            </a>

            <a href="{% url 'create_course' %}" class="nav-link">
                <i class="bi bi-plus-circle me-2"></i>
                Criar Curso
            </a>

            <hr class="text-secondary">

            <!-- Conteúdo -->
            <a href="#" class="nav-link">
                <i class="bi bi-people me-2"></i>
                Alunos
            </a>

            <a href="#" class="nav-link">
                <i class="bi bi-journal-text me-2"></i>
                Lições
            </a>

            <a href="#" class="nav-link">
                <i class="bi bi-pencil-square me-2"></i>
                Exercícios
            </a>

            <a href="#" class="nav-link">
                <i class="bi bi-file-earmark-text me-2"></i>
                Respostas
            </a>

            <hr class="text-secondary">

            <!-- Perfil -->
            <a href="#" class="nav-link">
                <i class="bi bi-person-circle me-2"></i>
                Perfil
            </a>

        </nav>

    </div>

</div>